.design
	&__section-title
	  margin-top: 10rem
.card
	&__title
		font-family: 'Yeseva One', cursive
		font-size: 1.29rem
		margin-top: 0
		margin-bottom: 1.07rem
	&__list
		padding: 0 0 0 1rem
		margin: 0
		font-size: 1.07rem
		line-height: 1.89rem
		color: $secondery
		margin-bottom: 2.5rem
	&__pricetag
		position: absolute 
		left: 0
		bottom: -1rem
		font-size: 1.29rem
		font-family: 'Yeseva One', cursive
		text-transform: uppercase
		background-color: $primary
		color: $light
		padding: 1.214rem 2.6rem

		

